.channels {
  max-height: 80vh;
  overflow: auto;
}

.channels-btn_add {
  margin-bottom: 16px;
  align-items: center;
}

.channels-links {
  margin-bottom: 10px;
}

.channels-btns {
  width: 80%;
}

.channels-dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.channels-toggle {
  text-align: left;
}
